body{
    margin: 0;
    padding: 0;
}

div.kutu1{
    background-color: blueviolet;
  /*   padding: 10px; */
    margin: 3rem 2rem;
    padding: 10px 4px 0 12px;

}
div.kutu2{
    background-color: blue;
    padding: 15px;
    margin-bottom: 10px;

}

em{
    background-color: aquamarine;
    padding: 30px;
}

div.ds{
    background-color: red ;
    padding:10px;
}
/* inline elementlere sadece
 yatayda margin ve padddig
  degeri verilmelidir  */