.title{
    background-color: aqua;
    padding: 15px;
    display: inline-block;
    width: 350px;
    height: 300px;
}
span.spanEl{
    background-color: blueviolet;
    display: block;
    width: 350px;
    height: 146px;

}

div.hidden{
    background-color: crimson;
    padding: 20px;
    font-size: 1.4rem;
    font-weight: bolder;
    text-transform:capitalize;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: none;
}

div.hidden{
    display: block;
}