@font-face{
    font-family: "digital";
    src:url("../../assets/fonts/ds-digi.ttf")
}
.clock-container{
    margin: 5rem auto;

font-family: "digital";
font-size: 3rem;
background-color: rgb(32, 31, 31);
color: rgb(148, 234, 19);
padding: 3rem;
display: flex;
justify-content: center;
align-items: center;
gap: 2rem;
font-weight: 500;

.time{
    font-size: 5rem;
}
}