.urun-cards{
    background-color: cornflowerblue;
    font-size: 1.3rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 15px;

}
    
button{
    background-color: crimson;
    padding:10px ;
    border-radius: 10px;
}